# Firebase Configuration
# Copy this file to .env.local and fill in your actual values
NEXT_PUBLIC_FIREBASE_API=AIzaSyBC39k0GVssvBfKjk8XWzHmS5ChleZdPoY
NEXT_PUBLIC_FIREBASE_DOMAIN=lmsplatform-34183.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=lmsplatform-34183
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=lmsplatform-34183.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=546025729505
NEXT_PUBLIC_FIREBASE_APP_ID=1:546025729505:web:ee7f9fbd5da85c8fc1b6a0
NODE_ENV = production


# const firebaseConfig = {
#   apiKey: "AIzaSyBC39k0GVssvBfKjk8XWzHmS5ChleZdPoY",
#   authDomain: "lmsplatform-34183.firebaseapp.com",
#   projectId: "lmsplatform-34183",
#   storageBucket: "lmsplatform-34183.appspot.com",
#   messagingSenderId: "546025729505",
#   appId: "1:546025729505:web:ee7f9fbd5da85c8fc1b6a0"
# };